@using Microsoft.AspNetCore.Identity;
@using Walter.Core.DTO_s.User;
@using Walter.Core.Entities.User;
@inject UserManager<AppUser> UserManager;
@model EditUserDto

@{
    var user = await UserManager.GetUserAsync(User);
    var email = await UserManager.GetEmailAsync(user);

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>User managament</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">User profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">@email</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5 offset-3">
                            <div class="card card-danger">
                                <div class="card-header">
                                    <h3 class="card-title">Update password</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                @if (@ViewBag.UpdatePasswordError != null)
                                {
                                    <span class="text-danger mt-3">@ViewBag.UpdatePasswordError</span>
                                }
                                <form method="post" asp-action="UpdatePassword">
                                    <div class="card-body">
                                        <input type="hidden" name="Id" asp-for="@Model.Id" value=@Model.Id />
                                        <div class="form-group">
                                            <label for="Password">Old Password</label>
                                            <input type="password" asp-for="@Model.OldPassword" name="oldPassword" class="form-control" placeholder="Old password" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Password">New Password</label>
                                            <input type="password" asp-for="@Model.Password" name="Password" class="form-control" placeholder="New Password">
                                        </div>
                                        <div class="form-group">
                                            <label for="ConfirmPassword">Confirm Password</label>
                                            <input type="password" name="confirmPassword" asp-for="@Model.ConfirmPassword" class="form-control" placeholder="Confirm Password">
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-danger">Update</button>
                                    </div>
                                </form>
                            </div>
                            <hr />
                            @*<div class="card card-danger">
                                <div class="card-header">
                                    <h3 class="card-title">Update password</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                @if (@ViewBag.UpdatePasswordError != null)
                                {
                                    <span class="text-danger mt-3">@ViewBag.UpdatePasswordError</span>
                                }
                                <form method="post" asp-action="Profile">
                                    <div class="card-body">
                                        <input type="hidden" name="Email" asp-for="=@email" value=@email />
                                        <div class="form-group">
                                            <label for="Password">Old Password</label>
                                            <input type="password" asp-for="@Model.OldPassword" name="oldPassword" class="form-control" placeholder="Old password" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Password">New Password</label>
                                            <input type="password" asp-for="@Model.Password" name="newPassword" class="form-control" placeholder="New Password">
                                        </div>
                                        <div class="form-group">
                                            <label for="ConfirmPassword">Confirm Password</label>
                                            <input type="password" name="confirmPassword" asp-for="@Model.ConfirmPassword" class="form-control" placeholder="Confirm Password">
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-danger">Update</button>
                                    </div>
                                </form>
                            </div>*@
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>